[Settings]
# Which player to use? Full or environment path.
player=mpv

# Pass some player options, e.g. to set initial volume
# Mpv requires the --no-terminal option to work
player_options=--no-terminal

# Automatically play one of the available streams at startup (menu number)
autoplay=

# The directory to look for M3U files.
directory=streams

# Uncomment to manually set the language for program messages if automatic detection fails, usually needed for Windows
#language=de_DE.UTF-8

# Set to true for a more verbose output
debug=False

# TTS settings
# If you are using a screen reader, you probably want to set this to false to disable extra station announcements
tts_enabled=True

# Enter a voice name, the program will try a substring match
tts_voice=
tts_rate=0
tts_volume=-1
